
/*  Hero Section */


.hero {
  width: 100%;
  min-height: 102vh;
  position: relative;
  padding: 180px 0 40px 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img-box {
  width: 100%;
  -webkit-animation: upDown 5s infinite;
          animation: upDown 5s infinite;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
  50% {
    -webkit-transform: translateY(45px);
            transform: translateY(45px);
  }
  100% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
  }
}


.hero .hero-bg img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero .hero-bg::before {
  content: "";
  background: color-mix(in srgb, var(--background-color), transparent 15%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
}

.hero h1 span {
  color: var(--accent-color);
}

.hero p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  margin: 5px 0 30px 0;
  font-size: 20px;
  font-weight: 400;
}

@media (min-width: 768px) {
  .hero .hero-img {
    max-width: 600px;
  }
}

.hero .btn-get-started {
  color: var(--contrast-color);
  background: var(--accent-color);
  font-family: var(--heading-font);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 50px;
  transition: 0.5s;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}

.hero .btn-get-started:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.1);
}


@media (max-width: 640px) {
  .hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  .hero p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .hero .btn-get-started,
  .hero .btn-watch-video {
    font-size: 13px;
  }
}

  .alig {

    margin-bottom: 200px;
  }

/* Root section */
  :root {
    --default-font: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Nunito",  sans-serif;
    --nav-font: "Inter",  sans-serif;
  }

  :root { 
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #3d4348; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #3e5055; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #388da8; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes, or other elements that require a visual separation from the global background. */
    --contrast-color: #ffffff;
  }

  :root {
    scroll-behavior: smooth;
  }


  /* execom card */

  .profile-card {
    position: relative;
    width: 300px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  
  
  .container h1 {
    font-family: 'Raleway';
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-size: 50px;
  }
  
  .profile-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .profile-card:hover img {
    transform: scale(1.1);
  }
  
  .profile-card .card-body {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
  }
  
  .profile-card:hover .card-body {
    transform: translateY(0);
  }
  
  .social-icons {
    margin-top: 15px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #f1c40f;
  }

 

/*  About Section */
.about_section {
  padding: 20px 0; /* Add spacing around the section */
}

.img-box img {
  max-width: 100%; /* Ensure image responsiveness */
  height: auto; /* Maintain aspect ratio */
}

.detail-box h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.detail-box p {
  margin-bottom: 15px;
  line-height: 1.6; /* Improve readability */
}

/* Ensure no animations globally */
* {
  animation: none !important;
  /* transition: none !important; */
}


.custom-logo {
  max-height: 200px;

  width: auto;

  object-fit: contain;

}