.hi {
    margin-top: -20px !important;
}

.navbar-nav .nav-link:hover {
    color: #ff0000 !important; /* Change this to your desired hover color */
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ff0000 !important; /* Change this to your desired hover color */
}

/* Highlight active navigation item */
.navbar .nav-item.selected a.nav-link {
    color: blue !important; /* Text color for selected item */
    font-weight: bold; /* Make text bold */
}

/* Custom selection color specifically for the navbar */
.navbar ::selection {
    background-color: #ffcc00; /* Background color of the selection */
    color: #000000; /* Text color of the selection */
}

.im-logo{
    opacity: 0.8;
}


.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: -16px !important;
}

.ScrollCss{
    transition: 0.6;
    opacity: .8;
}
