.hi {
    margin-top: -20px !important;
}

.navbar-nav .nav-link:hover {
    color: #ff0000 !important;
    /* Change this to your desired hover color */
}



.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: #ff0000 !important;
    /* Change this to your desired hover color */
}

/* Highlight active navigation item */
.navbar-nav .nav-item.selected .nav-link {
    color: blue !important;
    /* Text color for selected item */
    font-weight: bold;
    /* Make text bold */
}

/* Custom selection color specifically for the navbar */
.navbar ::selection {
    background-color: #ffcc00;
    /* Background color of the selection */
    color: blanchedalmond;
    /* Text color of the selection */
}

.im-logo {
    opacity: 0.8;
}


.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-top: -16px !important;
}

.ScrollCss {
    transition: 1s;
    opacity: .8;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

html {
    scroll-behavior: smooth;
}

.image-container:hover {
    transform: scale(1.09);
    transition: transform 0.6s;
}

#navbar{
   background: transparent;
    opacity: 1;

}
/* Add this to your CSS file, e.g., resources/css/navigation.css or a similar file */

.logout-button {
    background-color: #007bff; /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    padding: 10px 20px; /* Padding for better appearance */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.logout-button:hover {
    background-color: #0056b3; /* Darker color on hover */
    color: #e0e0e0; /* Lighter text color on hover */
}

.logout-button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Custom focus outline */
}
